# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 59806c5c11bfb0c81c916da1e471b12cd919003429171b9c2c6cf362ab669aec1cdd794457f9b1852b6f14169553ee8a1b4f8a5976b405d3557a9a42e33eac9c

test:
  secret_key_base: e7373c7102b59e983e565dfcda8faaf917732a53f4db00721e790f69b99334486a425cd489ee2604a04cf7ddf5bca0ba8a128525b97b8aaa90fbc0a4620f6954

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
